
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    cursor: none !important;
}

.custom-cursor {
    position: absolute;
    width: 50px; 
    height: 50px;
    background-image: url('yellow_submarine_tout_petit.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transform-origin: center;
}

.clickable {
    cursor: none !important;
}
